.home-main{
    height: 85vh;

        display: flex;
        justify-content: center;
        align-items: center;
        /* background-image: url("../../images/background.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; */
        width: 100%;
}