.header{

    height: 15vh;
   
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.logo-div{
    padding-left: 60px;
}

nav{
    padding-right: 70px;
    display: flex;
    gap: 50px;
}

nav a {
    text-decoration: none;
    color: white;
}